!wordpress/
wordpress/*
!wordpress/wp-content
wordpress/wp-content/*
!wordpress/wp-content/plugins
wordpress/wp-content/plugins/*
!wordpress/wp-content/plugins/moofilter
!wordpress/wp-content/plugins/woocommerce